
//= require normalize.css/normalize

@import "mixins";
@import "vars";

@import url(//fonts.googleapis.com/css?family=Lato:100,300,400);

$inner_width: 980px;
$site_menu_width: 250px;

* {
  @include box-sizing(border-box);
  font-family: 'Lato';
  font-weight: 300;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* -------------------------- */
/*         Off Canvas Layout
/* -------------------------- */

.site-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  // height: 5000px; /* Temp: Simulates a tall page. */  
}

.site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  // padding: 5% 0; /* Temp: Just spacing. */
}

.site-menu {
  background-color: #525252;
  width: $site_menu_width;
  height: 100%;
  position: absolute;
  top: 0;
  right: -$site_menu_width;
}

.site-menu-header {
  width: 100%;
  font-size: 22px;
  font-weight: 100;
  color: #FAFAFA;
  text-align: center;
  padding: 15px 0 0px 0;
}

.palette:first-child {
  margin-top: 10px;
}

.clear-palettes {
  font-size: 16px;
  font-weight: 100;
  color: #E2E2E2;
  cursor: pointer;
  margin: 3px 0 10px 0;
  transform: scale(1);
  transition-duration: 0.2s;
  transition-property: color, transform;
  transition-timing-function: linear;
}

.clear-palettes:hover {
  color: #FFFFFF;
  transform: scale(1.1)
}

.palette {
  text-align: left;
  padding: 10px 0 5px 20px;
}

.saved-color {
  display: inline-block;
  height: 30px;
  width: 30px;
  // padding: 5px;
  // margin-left: 10px;
}

.site-wrapper.show-nav .site-canvas {
  -webkit-transform: translateX(-$site_menu_width);
  transform: translateX(-$site_menu_width);
}

/* -------------------------- */
/*         Off Canvas Menu
/* -------------------------- */

.open-menu  {
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  color: #525252;
  top: 10px;
  right: 20px;
}

/* -------------------------- */
/*         Page Layout
/* -------------------------- */

.wrapper {
  background-color: #EEEEEE;
  position: relative;

  .container {
    width: $inner_width;
    margin: 0 auto;
  }
}

.header {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0 20px 0;
}

.save-palette {
  font-size: 28px;
  font-weight: 300;
  cursor: pointer;
  color: #444444;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.2);
  // -webkit-transform: scale(1.2);
  // transform: scale(1.2);
  // -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  // transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* -------------------------- */
/*         Color Wheel
/* -------------------------- */

.color-rules-container  {
  width: 980px;
  position: relative;
  margin: 0 auto;
}

.color-wheel {
  position: relative;
  width: 350px;
  margin: 0 auto;
  margin-top: 40px;
  img {
    @include border-radius(50%);
    // border: 3px solid #B6B6B6;
    display: block;
    width: 350px;
    margin: 0 auto;
    cursor: pointer;
  }

}

.selected-color-circle {
  @include border-radius(50%);
  height: 25px;
  width: 25px;
  border: 3px solid #FFFFFF;
  opacity: .7;
  position: absolute;
  top: 50px;
  left: 75px;
}

/* -------------------------- */
/*    Related Color Palette
/* -------------------------- */

.color-box {
  height: 225px;
  margin: 0 auto;
  margin-top: -50px;
  position: relative;
  text-align: center;
  z-index: -1;
}

.color {
  width: 175px;
  height: 100%;
  display: inline-block;
  position: relative;
  background-color: #B6B6B6;
  border-top: 3px solid #B6B6B6;
}

.color:first-child {
  border-left: 3px solid #B6B6B6;
}

.color:last-child {
  border-right: 3px solid #B6B6B6;
}

.color-swatch {
  height: 70%;
  width: 100%;
  transition: background-color 1000ms linear;
}

.color-details {
  text-align: left;
  padding: 10px 0 0 20px;
}

.color-detail-rgb {
  padding-bottom: 5px;
}

.color-detail-label {
  color: #FFFFFF;
  font-size: 14px;
}

.color-detail-value {
  color: #FFFFFF;
  padding-left: 7px;
  font-size: 14px;
}

/* -------------------------- */
/*         Color Rules
/* -------------------------- */

.color-rules-header {
  background-color: #E2E2E2;
  @include border-radius(10px 10px 0 0);
  width: 165px;
  position: absolute;
  top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #444444;
  padding: 10px 0 10px 0;
}

.color-rules  {
  background-color: #E2E2E2;
  @include border-radius(0 0 10px 10px);
  width: 165px;
  position: absolute;
  top: 50px;
}

.color-rule {
  padding: 10px 0 0 30px;
}

.color-rule:last-child {
  padding-bottom: 15px;
}

.color-rule-name  {
  font-size: 12px;
  color: #ACACAC;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: color;
  transition-timing-function: linear;
}

.color-rule-name:hover {
  color: #3F3F3F;
}

.selected-color-rule {
  color: #3F3F3F;
}