
//= require normalize.css/normalize

@import "mixins";
@import "vars";

@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

$inner_width: 980px;

* {
  @include box-sizing(border-box);
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Lato';
  font-weight: 300;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* -------------------------- */
/*         Page Layout
/* -------------------------- */

.wrapper {
  background-color: #EEEEEE;
  overflow: auto;
  height: 100vh;
  min-height: 690px;
  margin: 0;
  position: relative;
  z-index: 0;

  .container {
    width: $inner_width;
    position: relative;
    margin: 0 auto;
  }
}

.header {
  text-align: center;
  overflow: auto;
  margin-top: 20vh;

  @media screen and (max-height: 780px) {
    margin-top: 60px;
  }

}

/* -------------------------- */
/*         Color Wheel
/* -------------------------- */

.color-wheel {

  img {
    @include border-radius(50%);
    display: block;
    width: 350px;
    margin: 0 auto;
  }

}

.color-box {
  height: 225px;
  // width: 100%;
  margin: 0 auto;
  margin-top: -50px;
  // border: 3px solid #B6B6B6;
  // background-color: #B6B6B6;
  position: relative;
  text-align: center;
  z-index: -1;
}

.color {
  width: 175px;
  height: 100%;
  display: inline-block;
  background-color: #B6B6B6;
  border-top: 3px solid #B6B6B6;
}

.color:first-child {
  border-left: 3px solid #B6B6B6;
}

.color:last-child {
  border-right: 3px solid #B6B6B6;
}

.color-swatch {
  height: 70%;
  width: 100%;
}

.color-details {
  text-align: left;
}

.color-detail-label {
  color: #FFFFFF;
  font-size: 14px;
}

.color-detail-value {
  color: #FFFFFF;
}

.color-rules-header {
  // height: 40px;
  background-color: #E2E2E2;
  @include border-radius(10px 10px 0 0);
  width: 175px;
  position: absolute;
  text-align: center;
  font-size: 16px;
  color: #444444;
  padding: 10px 0 10px 0;
}

.color-rules  {
  background-color: #E2E2E2;
  @include border-radius(0 0 10px 10px);
  width: 175px;
  position: absolute;
  top: 60px;
}

.color-rule {
  padding: 10px 0 10px 40px;
}

.color-rule-name  {
  font-size: 12px;
  color: #ACACAC;
}


// top right bottom left

// border-radius:top-left top-right bottom-right bottom-left






